# Entornos Virtuales
venv/
env/
__pycache__/

# Base de datos local
db.sqlite3

# Archivos estáticos y subidas locales
media/
staticfiles/

# Frontend (Node)
frontend/node_modules/
frontend/dist/

# Variables de entorno secretas
.env